<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <title th:text="${title}">Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>
<header>
    <p id="header-title">Olsker Cupcakes</p>
    <p id="header-slogan">Mums Filibaba</p>
    <div id="header-logo">
        <img id="header-image" src="../public/images/cupcakelogo.png" th:src="@{/images/cupcakelogo.png}" alt="logo">
    </div>
    <hr/>
    <div id="navbar">
        <ul class="main-menu">
            <div th:switch="${session.currentAccount}==null" th:remove="tag">
                <div th:case="true" th:remove="tag">
                    <li class="button">
                        <a th:text="'Log ind'" href="/login"></a>
                    </li>
                </div>
                <div th:case="false" th:remove="tag">
                    <li class="button">
                        <p th:text="${session.currentAccount.email}"></p>
                    </li>
                    <li th:if="${not session.currentAccount.isAdmin}" class="button">
                        <a th:text="'Mine ordrer'" href="/min-side"></a>
                    </li>
                    <div th:if="${session.currentAccount.isAdmin}" th:remove="tag">
                        <li class="button">
                            <a th:text="'Vis alle kunder'" href="/admin-kunde-side"></a>
                        </li>
                        <li class="button">
                            <a th:text="'Vis alle ordrer'" href="/admin-ordre-side"></a>
                        </li>
                    </div>
                    <li class="button">
                        <a th:text="'Log ud'" href="/logout"></a>
                    </li>
                </div>
            </div>
        </ul>
    </div>
</header>

<div id="main-container">


    <div id="main-content">
        <h1>OLSKERS CUPCAKES</h1>
        <h2>ADMIN SIDE</h2>


    </div>
</div>
<footer>
    <p id="footer-text">Created by Team LAHY - All rights reserved</p>
</footer>
</body>
</html>
