<!DOCTYPE html>
<html lang="en">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <title th:text="${title}">Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>

<header th:replace="~{fragments :: header}"></header>

<div>
    <div>
        <h1>Alle kunder</h1>
        <table>
            <thead>
            <tr>
                <th>Account ID</th>
                <th>Name Dato</th>
                <th>Email</th>
                <th>Password</th>
                <th>Admin</th>
                <th>Balance</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="account : ${accountList}">
                <td th:text="${account.getId()}"></td>
                <td th:text="${account.getName()}"></td>
                <td th:text="${account.getEmail()}"></td>
                <td th:text="${account.getPassword()}"></td>
                <td th:text="${account.isAdmin()}"></td>
                <td th:text="${account.getBalance}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


</body>
</html>