<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>FrontpageWithAccount</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>
<header th:replace="~{fragments :: header}"></header>

<h1>Welcome to the Javalin / Thymeleaf demo</h1>

<p>This is your first web application in this world</p>
<div id="main-container">
    <div id="navbar">
        <ul class="main-menu">
            <li class="button"><a href="/logud">Log ud</a></li>
        </ul>
        <ul class="main-menu">
            <li class="button"><a href="/admin-kunde-side">Vis alle kunder</a></li>
        </ul>
        <ul class="main-menu">
            <li class="button"><a href="/admin-ordre-side">Vis alle odrer</a></li>
        </ul>
    </div>

    <div id="main-content">
        <h1>OLSKERS CUPCAKES</h1>
        <h2>ADMIN SIDE</h2>


    </div>
</div>
<footer th:replace="~{fragments :: footer}"></footer>
</body>
</html>
