<!DOCTYPE html>
<html lang="en">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <title th:text="${title}">Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<header th:replace="~{fragments :: header}"></header>
<div>
    <div>
        <p>Indtast venligt login oplysninger eller opret bruger:</p>
        <div>
            <form method="post">
                <input type="text" name="email" placeholder="E-mail"/>
                <input type="password" name="password" placeholder="Kodeord"/>
                <button type="submit" formaction="/loggedbasket">Login</button>
                <button type="submit" formaction="/account-created">Opret bruger</button>
            </form>
        </div>
    </div>
</div>
<footer th:replace="~{fragments :: footer}"></footer>
</body>
</html>