<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <title th:text="${title}">Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>
<header th:replace="~{fragments :: header}"></header>

<div id="main-container">

        <div id="order">
            <h2>Din ordre</h2>
            <table>
                <tr>
                    <th>Top</th>
                    <th>Bund</th>
                    <th>Antal</th>
                    <th>Total Pris</th>
                    <th>Action</th>
                </tr>
                <tr th:each="orderline, status : ${orderlines}">
                    <td th:text="${orderline.getTopping().getName()}">Top</td>
                    <td th:text="${orderline.getBottom().getName()}">Bund</td>
                    <td th:text="${orderline.getAmount()}">Antal</td>
                    <td th:text="${orderline.getPricePrOrderLine()+'kr'}">Total Pris</td>
                    <td>
                        <form class="taskform" method="post">
                            <button type="submit" name="order_id" formaction="/delete/#order" th:value="${status.index}">Delete</button>
                        </form>
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td th:text="${'I alt: '+ #ctx.session.currentBasket.getOrderTotalPrice + 'kr'}">total pris</td>
                </tr>
            </table>

            <form method="post">
                <button type="submit" formaction="/addmore">Bestil flere</button>
            </form>
            <form method="post">
                <button type="submit" name="order_id" formaction="/ordernow" >Køb</button>
            </form>


        </div>
    </div>
</div>
<footer th:fragment="footer"/>
</body>
</html>
