<!DOCTYPE html>
<html lang="en">
<head>
    <title>Create-account</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<header th:replace="~{fragments :: header}"></header>

<div>
    <div>
        <p>Indtast venligst brugerinfo:</p>
        <div>
            <form method="post">
                <input type="text" name="name" placeholder="Navn" required/>
                <input type="text" name="email" placeholder="E-mail" required/>
                <input type="password" name="password" placeholder="Kodeord" required/>
                <input type="password" name="password1" placeholder="Gentag kodeord" required/>
                <button type="submit" formaction="/account-created">Opret bruger</button>
            </form>
        </div>
    </div>
</div>
    <footer th:fragment="footer"/>
</body>
</html>