<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create-account</title>
</head>
<body>

<div>
    <div>
        <p>Indtast venligst brugerinfo:</p>
        <div>
            <form method="post">
                <input type="text" name="name" placeholder="Navn"/>
                <input type="text" name="email" placeholder="E-mail"/>
                <input type="password" name="password" placeholder="Kodeord"/>
                <input type="password" name="password1" placeholder="Gentag kodeord"/>
                <button type="submit" formaction="/account-created">Opret bruger</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>