<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <title th:text="${title}">Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>
<header th:replace="~{fragments :: header}"></header>

<div id="main-container">

    <div id="main-content">
        <h1>Velkommen til OLSKERS CUPCAKES</h1>
        <h2>Øens bedste cupcakes. Vælg og bestil her:</h2>

        <form id="dropdowns" method="post">
            <select name="bottom" id="bottom">
                <option value="" disabled selected>Vælg bund...</option>
                <option
                        th:each="bottom : ${bottomsList}"
                        th:value="${bottom.id}"
                        th:name="${bottom_id}"
                        th:text="${bottom.name + ' ' + bottom.price + 'kr'}">
                    bottom
                </option>
            </select>
            <select name="top" id="top">
                <option value="" disabled selected>Vælg top...</option>
                <option
                        th:each="topping : ${toppingsList}"
                        th:value="${topping.id}"
                        th:name="${topping_id}"
                        th:text="${topping.name + ' ' + topping.price + 'kr'}">
                    topping
                </option>
            </select>
            <select name="antal" id="antal">
                <option value="" disabled selected>Vælg antal...</option>
                <option th:each="i : ${#numbers.sequence(1, 10)}"
                        th:value="${i}"
                        th:text="${i}"
                        th:name="${amount}">
                    antal cupcakes
                </option>
            </select>
            <button type="submit" formaction="/addcupcake">Læg i kurv</button>
        </form>

    </div>
</div>
<footer th:replace="~{fragments :: footer}"></footer>
</body>
</html>
