<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div>
    <div>
        <p>Indtast venligt login oplysninger eller opret bruger:</p>
        <div>
            <form method="post">
                <input type="text" name="email" placeholder="E-mail"/>
                <input type="password" name="password" placeholder="Kodeord"/>
                <button type="submit" formaction="/loggedin">Login</button>
                <button type="submit" formaction="/account-created">Opret bruger</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>