<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<header th:replace="~{fragments :: header}"></header>
<div id="navbar">
    <ul class="main-menu">
        <li class="button"><a href="/login">Login</a></li>
    </ul>
    <ul class="main-menu">
        <div id="basket">
            <a href="/cart"><img src="../public/images/basket.png" th:src="@{/images/basket.png}" width="40rem"/></a>
            <div>
                <p th:text="${#ctx.session.currentBasket.getTotalAmountOfCupcakes}"></p>
            </div>
        </div>
    </ul>
</div>
<div>
    <div>
        <p>Indtast venligt login oplysninger eller opret bruger:</p>
        <div>
            <form method="post">
                <input type="text" name="email" placeholder="E-mail"/>
                <input type="password" name="password" placeholder="Kodeord"/>
                <button type="submit" formaction="/loggedin">Login</button>
                <button type="submit" formaction="/account-created">Opret bruger</button>
            </form>
        </div>
    </div>
</div>
<footer th:replace="~{fragments :: footer}"></footer>
</body>
</html>