<!DOCTYPE html>
<html lang="en">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <title th:text="${title}">Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<header th:replace="~{fragments :: header}"></header>

<div>
    <div>
        <h1>My Orders</h1>
        <table>
            <thead>
            <tr>
                <th>Ordre ID</th>
                <th>Ordre Dato</th>
                <th>Antal Kager</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order : ${orderlines}">
                <td th:text="${order.getId()}"></td>
                <td th:text="${order.getOrderDate()}"></td>
                <td th:text="${order.getOrderSum()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<footer th:replace="~{fragments :: footer}"></footer>
</body>
</html>