<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Frontpage</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>
<header th:replace="~{fragments :: header}"></header>
<div id="main-container">

        <div id="order">
            <h2>Tak for din ordre</h2>
            <table>
                <tr>
                    <th>Top</th>
                    <th>Bund</th>
                    <th>Antal</th>
                    <th>Total Pris</th>
                </tr>
                <tr th:each="orderline : ${orderlines}">
                    <td th:text="${orderline.getTopping().getName()}">Top</td>
                    <td th:text="${orderline.getBottom().getName()}">Bund</td>
                    <td th:text="${orderline.getAmount()}">Antal</td>
                    <td th:text="${orderline.getPricePrOrderLine()+'kr'}">Total Pris</td>
                </tr>
            </table>
            <table>
                <tr>
                    <td th:text="${'Købt for i alt: '+ #ctx.paymentamount + 'kr'}">total pris</td>
                </tr>
            </table>

            <form method="get">
                <button type="submit" formaction="/">Tilbage til forside</button>
            </form>
        </div>
    </div>
</div>
<footer th:fragment="footer"/>
</body>
</html>
