/* Stylesheet for the application */

/* Font: Inter */
:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
    :root { font-family: 'Inter var', sans-serif; }
}

h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    margin: auto;
}

header {
    width: 100%;
    padding-top: 25px;
    background-color: #D9D9D9;
}

#header-title, #header-slogan, #header-logo {
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 32px;
}

#header-slogan {
    font-weight: 600;
    font-size: 22px;
}

#header-image {
    max-width: 80%;
}

hr {
    border: 1px black solid;
}

footer {
    background-color: #D9D9D9;
    padding: 10px;
    text-align: center;
}
/* text styles */


#main-container{
    margin: auto;
    max-width: 1200px;

}

/* Nav bar */

#navbar {
    width: 80%;
    margin: 10px auto 10px auto;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    border-radius: 3px;
}

/* main menu */

.main-menu {
    list-style: none;
    display: flex;
    padding: 0px;
    margin: 0px;
    gap: 2px;
    border-radius: 3px;
}

#main-content {
    display: flex;
    flex-direction: column;
    min-height: 300px;
    margin-top: 10px;
    padding: 20px;
    background-color: #dfdfdf;
    text-align: center;
    border-radius: 3px;
}

/* flex styling af dropdowns */

#dropdowns {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#dropdowns select, #dropdowns button {
    font-size: 1.5rem;
    padding: 5px;
    flex-grow: 1;
}

.button {
    background-color: #3A3B3C;
    padding: 0.5rem;
    border-radius: 3px;
}

.button a, .button p {
    color: white;

}

#basket{
    display: flex;
}

#basketsize{
    background: black;
    color: white;
    border-radius: 50px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#order{
    margin: 100px 0px 100px 0px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 400px;
    padding: 20px;
    border-radius: 3px;
    gap: 80px;
}

@media screen and (max-width: 600px) {

    #dropdowns {
        flex-direction: column;
    }

    #nav {
        flex-direction: column;
        gap: 2px;
    }

    .main-menu {
        flex-direction: column;
    }
}